<%= form_for(@author) do |f| %>
  <%= render_model_errors(@author) %>

  <div class="field" >
    <%= f.label      :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field" >
    <%= f.label      :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field" >
    <%= f.label      :nationality %>
    <%= f.text_field :nationality %>
  </div>

  <div class="field" >
    <%= f.label        :birth_year %>
    <%= f.number_field :birth_year %>
  </div>

  <%= f.submit :submit %>

<% end %>