<%= link_to "Authors", authors_path %>
<%= link_to "Books", books_path %>

<hr />

<h3>Author Details</h3>

<%= render @author %>

<hr />

<ul>
  <li><%= link_to 'Edit this author', edit_author_path(@author) %></li>
  <li><%= link_to "Back to index", authors_path %></li>
</ul>
