<%= form_for(@book) do |f| %>

  <div class="field" >
    <%= f.label      :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field" >
    <%= f.label        :publication_date %>
    <%= f.number_field :publication_date %>
  </div>

  <div class="field" >
    <%= f.label :author_id, "Author" %>
    <%= f.collection_select :author_id, Author.all, :id, :full_name, include_blank: true %>
  </div>

  <div class="field" >
    <%= f.submit :submit %>
  </div>

<% end %>