<h3>Book Details</h3>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Publication date:</strong>
  <%= @book.publication_date %>
</p>

<p>
  <strong>Author:</strong>
  <%= link_to @book.author_name, @book.author %>
</p>

<br />

<ul>
  <li><%= link_to 'Edit this book', edit_book_path(@book) %></li>
  <li><%= link_to "Back to index",  books_path %></li>
</ul>

