<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>books2buy.com</h1>
<hr />

<%= render "shared/site_header" %>

<%= yield %>

<% if content_for? :page_nav %>
  <hr />
  <%= yield :page_nav %>
<% end %>

</body>
</html>
